.api-title {
  font-family: 'Exo', sans-serif;
}

.App {
  background-color: red;
  text-align: center;
}

.endpoint-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endpoint-title {
  width: 80%;
}

.f1-logo {
  border-radius: 26px 8px;
  height: 50px;
  margin-right: 50px;
  width: 200px;
}

.title-box {
  align-items: center;
  display: flex;
  justify-content: center;
}